@import "tailwindcss";

@theme {
  --animate-pop-in: pop-in 0.3s ease-out forwards;
  --animate-victory-line: victory-line 2s linear forwards; 

  @keyframes pop-in {
    0% {
      opacity: 0,
      transform: scale(0);
    }
    70% {
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes victory-line {
    0% {
      opacity: 0,
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
}