@import "tailwindcss";

@theme {
  --animate-pop-in: pop-in 0.3s ease-out forwards;
  --animate-victory-line: victory-line 0.5s linear forwards; 
  --animate-pop-in-victory: pop-in-victory 1s ease-out forwards;

  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    70% {
      transform: scale(1.2);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes victory-line {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }

  @keyframes pop-in-victory {
    0% {
      transform-origin: center;
      transform: scale(1);
    }
    70% {
      transform-origin: center;
      transform: scale(1.2);
    }
    100% {
      transform-origin: center;
      transform: scale(1);
    }
  }
}